<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
	    <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="/var/log/rs/rs.log"
	                 filePattern="/var/log/rs/app-%d{MM-dd-yyyy}-%i.log.gz">
	      <PatternLayout>
	        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
	      </PatternLayout>
	      <Policies>
	        <TimeBasedTriggeringPolicy />
	        <SizeBasedTriggeringPolicy size="20 MB"/>
	      </Policies>
	      <DefaultRolloverStrategy max="30"/>
	    </RollingRandomAccessFile>
	    
	    <GELF name="gelfAppender" server="graylog-internal.orfdev.net" port="12201" includeExceptionCause="true">
		<!-- GELF name="gelfAppender" server="graylog.staging.engage-tiggywinkle.net" port="12201" includeExceptionCause="true" -->
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss,SSS Z} %5p [%t] --- %c{1.1.4}: %m%n %ex{full}"/>
        </GELF>
        
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn" />
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
        <Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />
        <Logger name="org.thymeleaf" level="warn" />
        <Logger name="rs.web" level="info" />
        <Root level="info">
            <AppenderRef ref="RollingRandomAccessFile"/>
            <AppenderRef ref="gelfAppender"/>
        </Root>
    </Loggers>
</Configuration>